* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
  background-color: black;
  color: white;
  padding: 2rem;
}
.paper{
  display:flex;
align-items: center;
justify-content: center;
}
.custom-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
}
.custom-caixa{

  display:flex;
align-items: center;
justify-content: center;
}